deploy/n8n/pwise-combined.workflow.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://pwise-api.sixpent.com/api/scheduler/insights/snapshot",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "533061e3-6b94-484d-899b-5317d0a5b076",
      "name": "Snapshot insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        -608
      ],
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_SERVICE_TOKEN_CRED_ID",
          "name": "pwise service token"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "8da3fefa-b2d4-4f79-ba86-267b46f4ed7c",
      "name": "Every hour1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        720,
        -608
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "ab8b14aa-6dc0-40cd-b9e8-47d74e0cf899",
      "name": "Check Posts Every 5 minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        1024,
        32
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "98ef0e36-fef8-4a01-84a5-baffe81caf74",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        720,
        -336
      ],
      "id": "84ebd1dd-0d66-42eb-ae33-2c50a0ab416e",
      "name": "Post to n8n",
      "webhookId": "98ef0e36-fef8-4a01-84a5-baffe81caf74"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "08bade43-e61a-4eba-9545-c9bdb10c0dfc",
              "leftValue": "={{ $json.for_automation }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1360,
        -480
      ],
      "id": "35760241-0428-4219-b7ca-8fcbfe3bfdda",
      "name": "Is For Automated Editing?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "37871d53-a5c4-4ab6-a9ae-a4fe4214fbf0",
              "leftValue": "={{ typeof $json.for_automation }}",
              "rightValue": "boolean",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1040,
        -336
      ],
      "id": "5c51573d-c58b-4614-bb84-968f25909b5d",
      "name": "Is Valid?"
    },
    {
      "parameters": {
        "errorMessage": "=Creatomate render failed: {{ $json.error_message }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2816,
        -592
      ],
      "id": "c2a921d1-c9f3-43a8-a468-3c1db744e72b",
      "name": "Render Failed"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "render_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "r2",
              "name": "video_url",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "r3",
              "name": "snapshot_url",
              "value": "={{ $json.snapshot_url }}",
              "type": "string"
            },
            {
              "id": "r4",
              "name": "context",
              "value": "={{ JSON.parse($json.metadata || '{}') }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2816,
        -832
      ],
      "id": "fabaff5f-5234-46f0-a79f-d6b1838ddbc7",
      "name": "Render Result"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "succeeded",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Succeeded"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Failed"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Still Rendering"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2576,
        -704
      ],
      "id": "0c0c6ae4-330a-48bb-a3a3-fd2e498de406",
      "name": "Render Finished?"
    },
    {
      "parameters": {
        "url": "=https://api.creatomate.com/v2/renders/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2368,
        -704
      ],
      "id": "e2ca66c9-3995-48fe-b109-485fa6142273",
      "name": "Get Render Status",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FL0J5ul0IijrDCGt",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2144,
        -704
      ],
      "id": "df81c2d8-4760-4c32-9414-4e631fc6b0f4",
      "name": "Wait 10s",
      "webhookId": "creatomate-poll-wait"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.creatomate.com/v2/renders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { template_id: $json.template_id, modifications: $json.modifications, metadata: JSON.stringify($json.context) } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        -704
      ],
      "id": "236364b7-3c88-45df-9c4a-360ee61f902d",
      "name": "Start Creatomate Render",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FL0J5ul0IijrDCGt",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "template_id",
              "value": "={{ $json.template_id }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "modifications",
              "value": "={{ $json.modifications }}",
              "type": "object"
            },
            {
              "id": "a3",
              "name": "context",
              "value": "={{ { \"caption\": $json.caption, \"page_id\": $json.page_id } }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1696,
        -704
      ],
      "id": "a2d6b78f-35b3-425c-bb7b-6b46938e8270",
      "name": "Map AI → Creatomate"
    },
    {
      "parameters": {
        "jsCode": "// ── pwise: build the result email (success or failure) ───────────────────────\nconst input = $input.first().json;\n\n// IMPORTANT: /posts/:id/posted AND /posts/:id/failed both return { success:true,\n// data:{ post } }, so input.success is ALWAYS true and can't tell them apart.\n// The updated post row carries the real signal — status, ids and failed_reason.\nconst post = input.data?.post ?? $('Claim next post').first().json?.data?.post ?? {};\nconst result = post.status === 'posted';\n\n// Escape so a caption/error can't break the HTML layout.\nconst esc = (s) =>\n  String(s ?? '').replace(/[&<>\"]/g, (c) => ({ '&': '&amp;', '<': '&lt;', '>': '&gt;', '\"': '&quot;' }[c]));\n\nconst caption = esc(post.caption || '(no caption)').replace(/\\n/g, '<br>');\nconst postId = post.id ?? '—';\nconst platform = post.target_platform || 'facebook';\nconst platformLabel = platform.charAt(0).toUpperCase() + platform.slice(1);\nconst when = new Date().toLocaleString('en-US', {\n  timeZone: 'Asia/Manila',\n  month: 'short', day: 'numeric', year: 'numeric', hour: '2-digit', minute: '2-digit',\n});\nconst appUrl = 'https://pwise.sixpent.com/post-pool';\n\nif (result) {\n  // Linkable feed id the server resolved ({page}_{post}); fall back to the raw id.\n  const fbPostId = post.parent_post_id || post.platform_post_id || '';\n  const postUrl = fbPostId ? `https://facebook.com/${fbPostId}` : 'https://facebook.com/';\n\n  return [\n    {\n      json: {\n        subject: 'Your post is live on Facebook — Wise Cleaner Shop',\n        message: `<!DOCTYPE html>\n<html>\n<body style=\"margin:0;padding:0;background:#e6f3fc;\">\n  <div style=\"display:none;max-height:0;overflow:hidden;opacity:0;\">Your scheduled post just went live on Facebook.</div>\n  <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#e6f3fc;padding:24px 12px;font-family:'Segoe UI',Roboto,Helvetica,Arial,sans-serif;\">\n    <tr><td align=\"center\">\n      <table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%;background:#ffffff;border-radius:16px;overflow:hidden;border:1px solid #d4e6f5;\">\n        <tr><td style=\"height:8px;background:#1f9be6;border-bottom:3px solid #ffc400;font-size:0;line-height:0;\">&nbsp;</td></tr>\n        <tr><td style=\"padding:22px 28px 8px;\">\n          <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n            <td style=\"font-size:18px;font-weight:800;color:#0f6fbb;\">Wise Cleaner Shop</td>\n            <td align=\"right\" style=\"font-size:12px;color:#5c7f99;\">pwise autoposter</td>\n          </tr></table>\n        </td></tr>\n        <tr><td style=\"padding:8px 28px 0;\">\n          <span style=\"display:inline-block;background:#e7f8ee;color:#1f8f43;font-size:13px;font-weight:700;padding:6px 12px;border-radius:999px;\">&#9679; Posted</span>\n          <h1 style=\"margin:14px 0 6px;font-size:22px;color:#123a57;\">Your post is live on Facebook &#127881;</h1>\n          <p style=\"margin:0;color:#5c7f99;font-size:14px;line-height:1.5;\">Your scheduled content was just published.</p>\n        </td></tr>\n        <tr><td style=\"padding:20px 28px 4px;\">\n          <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f1f8fe;border:1px solid #d4e6f5;border-radius:12px;\"><tr><td style=\"padding:16px 18px;\">\n            <p style=\"margin:0 0 4px;font-size:11px;font-weight:700;color:#5c7f99;text-transform:uppercase;letter-spacing:.05em;\">Caption</p>\n            <p style=\"margin:0 0 16px;font-size:15px;color:#123a57;line-height:1.5;\">${caption}</p>\n            <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"font-size:14px;color:#123a57;\">\n              <tr><td style=\"padding:4px 0;color:#5c7f99;\">Platform</td><td align=\"right\" style=\"padding:4px 0;font-weight:700;\">${platformLabel}</td></tr>\n              <tr><td style=\"padding:4px 0;color:#5c7f99;\">Posted</td><td align=\"right\" style=\"padding:4px 0;font-weight:700;\">${when}</td></tr>\n              <tr><td style=\"padding:4px 0;color:#5c7f99;\">Post ID</td><td align=\"right\" style=\"padding:4px 0;font-weight:700;\">#${postId}</td></tr>\n            </table>\n          </td></tr></table>\n        </td></tr>\n        <tr><td style=\"padding:22px 28px 28px;\" align=\"center\">\n          <a href=\"${postUrl}\" style=\"display:inline-block;background:#1f9be6;color:#ffffff;font-size:15px;font-weight:700;text-decoration:none;padding:12px 28px;border-radius:999px;\">View on Facebook &#8594;</a>\n        </td></tr>\n        <tr><td style=\"padding:18px 28px;background:#f1f8fe;border-top:1px solid #d4e6f5;\">\n          <p style=\"margin:0;font-size:12px;color:#93afc4;line-height:1.5;\">Automated message from <strong style=\"color:#5c7f99;\">pwise</strong> — the Wise Cleaner Shop autoposter.</p>\n        </td></tr>\n      </table>\n    </td></tr>\n  </table>\n</body>\n</html>`,\n      },\n    },\n  ];\n}\n\n// failure — the /failed response row has failed_reason set by the server.\nconst errorMessage = esc(post.failed_reason || 'Unknown error from Facebook');\n\nreturn [\n  {\n    json: {\n      subject: 'A post failed to publish — Wise Cleaner Shop',\n      message: `<!DOCTYPE html>\n<html>\n<body style=\"margin:0;padding:0;background:#e6f3fc;\">\n  <div style=\"display:none;max-height:0;overflow:hidden;opacity:0;\">A scheduled post couldn't be published to Facebook.</div>\n  <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#e6f3fc;padding:24px 12px;font-family:'Segoe UI',Roboto,Helvetica,Arial,sans-serif;\">\n    <tr><td align=\"center\">\n      <table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%;background:#ffffff;border-radius:16px;overflow:hidden;border:1px solid #d4e6f5;\">\n        <tr><td style=\"height:8px;background:#1f9be6;border-bottom:3px solid #ffc400;font-size:0;line-height:0;\">&nbsp;</td></tr>\n        <tr><td style=\"padding:22px 28px 8px;\">\n          <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n            <td style=\"font-size:18px;font-weight:800;color:#0f6fbb;\">Wise Cleaner Shop</td>\n            <td align=\"right\" style=\"font-size:12px;color:#5c7f99;\">pwise autoposter</td>\n          </tr></table>\n        </td></tr>\n        <tr><td style=\"padding:8px 28px 0;\">\n          <span style=\"display:inline-block;background:#fdeceb;color:#c52f24;font-size:13px;font-weight:700;padding:6px 12px;border-radius:999px;\">&#9679; Failed</span>\n          <h1 style=\"margin:14px 0 6px;font-size:22px;color:#123a57;\">We couldn't publish your post</h1>\n          <p style=\"margin:0;color:#5c7f99;font-size:14px;line-height:1.5;\">Facebook rejected this one, so it's marked <strong>failed</strong> in pwise. It stays in your pool so you can fix and retry it.</p>\n        </td></tr>\n        <tr><td style=\"padding:20px 28px 4px;\">\n          <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f1f8fe;border:1px solid #d4e6f5;border-radius:12px;\"><tr><td style=\"padding:16px 18px;\">\n            <p style=\"margin:0 0 4px;font-size:11px;font-weight:700;color:#5c7f99;text-transform:uppercase;letter-spacing:.05em;\">Caption</p>\n            <p style=\"margin:0 0 16px;font-size:15px;color:#123a57;line-height:1.5;\">${caption}</p>\n            <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"font-size:14px;color:#123a57;\">\n              <tr><td style=\"padding:4px 0;color:#5c7f99;\">Platform</td><td align=\"right\" style=\"padding:4px 0;font-weight:700;\">${platformLabel}</td></tr>\n              <tr><td style=\"padding:4px 0;color:#5c7f99;\">Attempted</td><td align=\"right\" style=\"padding:4px 0;font-weight:700;\">${when}</td></tr>\n              <tr><td style=\"padding:4px 0;color:#5c7f99;\">Post ID</td><td align=\"right\" style=\"padding:4px 0;font-weight:700;\">#${postId}</td></tr>\n            </table>\n          </td></tr></table>\n        </td></tr>\n        <tr><td style=\"padding:14px 28px 4px;\">\n          <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#fdeceb;border:1px solid #f6c9c5;border-radius:12px;\"><tr><td style=\"padding:14px 18px;\">\n            <p style=\"margin:0 0 4px;font-size:11px;font-weight:700;color:#c52f24;text-transform:uppercase;letter-spacing:.05em;\">Error</p>\n            <p style=\"margin:0;font-size:14px;color:#8f231c;line-height:1.5;font-family:Consolas,Menlo,monospace;\">${errorMessage}</p>\n          </td></tr></table>\n        </td></tr>\n        <tr><td style=\"padding:16px 28px 0;\">\n          <p style=\"margin:0 0 6px;font-size:13px;font-weight:700;color:#123a57;\">What to check</p>\n          <ul style=\"margin:0;padding-left:18px;color:#5c7f99;font-size:13px;line-height:1.7;\">\n            <li>Your Facebook Page access token hasn't expired</li>\n            <li>The media/caption meets Facebook's requirements</li>\n            <li>Re-post it from the pool once fixed</li>\n          </ul>\n        </td></tr>\n        <tr><td style=\"padding:22px 28px 28px;\" align=\"center\">\n          <a href=\"${appUrl}\" style=\"display:inline-block;background:#e63b2e;color:#ffffff;font-size:15px;font-weight:700;text-decoration:none;padding:12px 28px;border-radius:999px;\">Open Post Pool &#8594;</a>\n        </td></tr>\n        <tr><td style=\"padding:18px 28px;background:#f1f8fe;border-top:1px solid #d4e6f5;\">\n          <p style=\"margin:0;font-size:12px;color:#93afc4;line-height:1.5;\">Automated message from <strong style=\"color:#5c7f99;\">pwise</strong> — the Wise Cleaner Shop autoposter.</p>\n        </td></tr>\n      </table>\n    </td></tr>\n  </table>\n</body>\n</html>`,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3504,
        48
      ],
      "id": "3d056bf3-46a0-44f5-8cfe-438f09be3b59",
      "name": "Assign Email Output"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Keystore').item.json.ADMIN_EMAIL }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.message }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3760,
        48
      ],
      "id": "705bd5ac-656c-48dd-9509-6b3927f4f4fe",
      "name": "Send a message",
      "webhookId": "d1cb81d2-afea-44e3-bcb3-0155c83d170e",
      "credentials": {
        "gmailOAuth2": {
          "id": "eJv6b9AmjATYCiWG",
          "name": "Sixpent 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b69ea02-f948-413f-a32f-c860622eab21",
              "name": "ADMIN_EMAIL",
              "value": "archie.sevillano29@gmail.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        288
      ],
      "id": "45cacc8e-b377-497b-8010-9c3f78f3ad52",
      "name": "Keystore"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://pwise-api.sixpent.com/api/scheduler/posts/{{ $('Claim next post').item.json.data.post.id }}/failed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"error_message\": \"Facebook post failed via n8n\" }",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "75c25552-2154-4976-9e02-5bcdca40ef83",
      "name": "Mark failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3216,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_SERVICE_TOKEN_CRED_ID",
          "name": "pwise service token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://pwise-api.sixpent.com/api/scheduler/posts/{{ $('Claim next post').item.json.data.post.id }}/posted",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"platform_post_id\": \"{{ $json.id }}\", \"response_message\": \"posted via n8n\", \"target_platform\": \"{{ $('Claim next post').item.json.data.post.target_platform }}\" }",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "23860759-377c-4ed3-a530-10cc9e91324a",
      "name": "Mark posted",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3216,
        -176
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_SERVICE_TOKEN_CRED_ID",
          "name": "pwise service token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Claim next post').item.json.data.post.page.fb_page_id }}/feed",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $('Claim next post').item.json.data.post.caption }}"
            },
            {
              "name": "access_token",
              "value": "={{ $('Claim next post').item.json.data.post.page.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0e1d6d50-5b03-4f71-b45d-ba984ff4cc3f",
      "name": "Post text to Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2272,
        304
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Claim next post').item.json.data.post.page.fb_page_id }}/photos",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('Claim next post').item.json.data.post.media_download_url }}"
            },
            {
              "name": "caption",
              "value": "={{ $('Claim next post').item.json.data.post.caption }}"
            },
            {
              "name": "access_token",
              "value": "={{ $('Claim next post').item.json.data.post.page.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f7e04b6c-d003-48ce-b052-14d507e5f08d",
      "name": "Post photo to Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2672,
        -48
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Claim next post').item.json.data.post.page.fb_page_id }}/videos",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_url",
              "value": "={{ $('Claim next post').item.json.data.post.media_download_url }}"
            },
            {
              "name": "description",
              "value": "={{ $('Claim next post').item.json.data.post.caption }}"
            },
            {
              "name": "access_token",
              "value": "={{ $('Claim next post').item.json.data.post.page.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3874b137-dbbd-4f44-a526-bc0f187cb306",
      "name": "Post video to Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2672,
        -336
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-video",
              "leftValue": "={{ $json.data.post.media_type }}",
              "rightValue": "video",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "02f43fe9-cd4c-4b7a-b5ff-e4feb9d88691",
      "name": "Is video?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2272,
        -176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-media",
              "leftValue": "={{ $json.data.post.media_download_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8a377a21-7830-464b-93b7-cafe3c4e1b6a",
      "name": "Has media?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2016,
        48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-claimed",
              "leftValue": "={{ $json.data.claimed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "58ae8dfa-2636-4a98-b07f-cd03e2a6b11c",
      "name": "Claimed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1504,
        288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pwise-api.sixpent.com/api/scheduler/claim",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"source\": \"n8n\" }",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "9f917f6d-fc85-44c3-8bcc-0eee3b0c35a7",
      "name": "Claim next post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        32
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_SERVICE_TOKEN_CRED_ID",
          "name": "pwise service token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map((i) => ({ json: i.json.body ?? i.json }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -336
      ],
      "id": "3c65549a-9e03-43ed-98d9-ca330c47028c",
      "name": "Parse body"
    }
  ],
  "connections": {
    "Every hour1": {
      "main": [
        [
          {
            "node": "Snapshot insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Posts Every 5 minutes": {
      "main": [
        [
          {
            "node": "Keystore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to n8n": {
      "main": [
        [
          {
            "node": "Parse body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is For Automated Editing?": {
      "main": [
        [
          {
            "node": "Map AI → Creatomate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has media?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Is For Automated Editing?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Finished?": {
      "main": [
        [
          {
            "node": "Render Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Render Failed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 10s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Render Status": {
      "main": [
        [
          {
            "node": "Render Finished?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10s": {
      "main": [
        [
          {
            "node": "Get Render Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Creatomate Render": {
      "main": [
        [
          {
            "node": "Wait 10s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map AI → Creatomate": {
      "main": [
        [
          {
            "node": "Start Creatomate Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Email Output": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keystore": {
      "main": [
        [
          {
            "node": "Claim next post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark failed": {
      "main": [
        [
          {
            "node": "Assign Email Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark posted": {
      "main": [
        [
          {
            "node": "Assign Email Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post text to Facebook": {
      "main": [
        [
          {
            "node": "Mark posted",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post photo to Facebook": {
      "main": [
        [
          {
            "node": "Mark posted",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post video to Facebook": {
      "main": [
        [
          {
            "node": "Mark posted",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is video?": {
      "main": [
        [
          {
            "node": "Post video to Facebook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post photo to Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has media?": {
      "main": [
        [
          {
            "node": "Is video?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post text to Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claimed?": {
      "main": [
        [
          {
            "node": "Has media?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim next post": {
      "main": [
        [
          {
            "node": "Claimed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse body": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "65920e30f382a1064e38243457955455c5337d9c4dd5c8a89a6e793460e8da22"
  },
  "name": "pwise — Auto Post + Generate (multi-page)"
}
