deploy/n8n/pwise-autopost.workflow.json
{
  "name": "pwise — Auto Post to Facebook",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "field": "minutes", "minutesInterval": 5 } ] }
      },
      "id": "11111111-1111-1111-1111-111111111111",
      "name": "Every 5 minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-120, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pwise-api.sixpent.com/api/scheduler/claim",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "x-service-token", "value": "YOUR_SERVICE_TOKEN" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"source\": \"n8n\" }",
        "options": {}
      },
      "id": "22222222-2222-2222-2222-222222222222",
      "name": "Claim next post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [100, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "conditions": [
            { "id": "cond-claimed", "leftValue": "={{ $json.data.claimed }}", "rightValue": "", "operator": { "type": "boolean", "operation": "true", "singleValue": true } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "33333333-3333-3333-3333-333333333333",
      "name": "Claimed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [320, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose", "version": 2 },
          "conditions": [
            { "id": "cond-media", "leftValue": "={{ $json.data.post.media_download_url }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty", "singleValue": true } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "44444444-4444-4444-4444-444444444444",
      "name": "Has media?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [540, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/YOUR_PAGE_ID/photos",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": { "parameters": [
          { "name": "url", "value": "={{ $('Claim next post').item.json.data.post.media_download_url }}" },
          { "name": "caption", "value": "={{ $('Claim next post').item.json.data.post.caption }}" },
          { "name": "access_token", "value": "YOUR_PAGE_ACCESS_TOKEN" }
        ] },
        "options": {}
      },
      "id": "55555555-5555-5555-5555-555555555555",
      "name": "Post photo to Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 180],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/YOUR_PAGE_ID/feed",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": { "parameters": [
          { "name": "message", "value": "={{ $('Claim next post').item.json.data.post.caption }}" },
          { "name": "access_token", "value": "YOUR_PAGE_ACCESS_TOKEN" }
        ] },
        "options": {}
      },
      "id": "66666666-6666-6666-6666-666666666666",
      "name": "Post text to Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 460],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://pwise-api.sixpent.com/api/scheduler/posts/{{ $('Claim next post').item.json.data.post.id }}/posted",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "x-service-token", "value": "YOUR_SERVICE_TOKEN" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"platform_post_id\": \"{{ $json.id }}\", \"response_message\": \"posted via n8n\", \"target_platform\": \"{{ $('Claim next post').item.json.data.post.target_platform }}\" }",
        "options": {}
      },
      "id": "77777777-7777-7777-7777-777777777777",
      "name": "Mark posted",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1020, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://pwise-api.sixpent.com/api/scheduler/posts/{{ $('Claim next post').item.json.data.post.id }}/failed",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "x-service-token", "value": "YOUR_SERVICE_TOKEN" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"error_message\": \"Facebook post failed via n8n\" }",
        "options": {}
      },
      "id": "88888888-8888-8888-8888-888888888888",
      "name": "Mark failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1020, 480]
    }
  ],
  "connections": {
    "Every 5 minutes": { "main": [ [ { "node": "Claim next post", "type": "main", "index": 0 } ] ] },
    "Claim next post": { "main": [ [ { "node": "Claimed?", "type": "main", "index": 0 } ] ] },
    "Claimed?": { "main": [ [ { "node": "Has media?", "type": "main", "index": 0 } ], [] ] },
    "Has media?": { "main": [ [ { "node": "Post photo to Facebook", "type": "main", "index": 0 } ], [ { "node": "Post text to Facebook", "type": "main", "index": 0 } ] ] },
    "Post photo to Facebook": { "main": [ [ { "node": "Mark posted", "type": "main", "index": 0 } ], [ { "node": "Mark failed", "type": "main", "index": 0 } ] ] },
    "Post text to Facebook": { "main": [ [ { "node": "Mark posted", "type": "main", "index": 0 } ], [ { "node": "Mark failed", "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
