scripts/n8n/ai-inbound.workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-inbound",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1248, -192],
      "id": "f56ad093-69f3-4672-99a2-b70b03df18b5",
      "name": "AI Inbound",
      "webhookId": "ai-inbound-15dd300f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "11111111-1111-4111-8111-111111111111", "name": "message", "value": "={{ $json.body.text }}", "type": "string" },
            { "id": "22222222-2222-4222-8222-222222222222", "name": "chat_id", "value": "={{ $json.body.chatId }}", "type": "string" },
            { "id": "33333333-3333-4333-8333-333333333333", "name": "accountId", "value": "={{ $json.body.accountId }}", "type": "string" },
            { "id": "44444444-4444-4444-8444-444444444444", "name": "platform", "value": "={{ $json.body.platform }}", "type": "string" },
            { "id": "55555555-5555-4555-8555-555555555555", "name": "SERVICE_TOKEN", "value": "REPLACE_WITH_SERVICE_TOKEN", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-1056, -192],
      "id": "c48288bd-0cab-4e5c-9308-c3fa9dc13eb9",
      "name": "Message"
    },
    {
      "parameters": { "options": {} },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [-848, 160],
      "id": "99efc423-4a9e-400f-865f-541591352a88",
      "name": "DeepSeek Chat Model",
      "credentials": { "deepSeekApi": { "id": "68UvPwiyV4L6DKry", "name": "DeepSeek account" } }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Message').item.json.message }}",
        "options": {
          "systemMessage": "You are an Intent Identifier Agent. Your only job is to classify the customer's latest message into one intent for routing.\n\nAllowed intents:\n- sales: The customer is asking about prices, packages, availability, booking, quotation, services offered, promos, or wants to hire/purchase a service.\n- support: The customer has an existing booking/order/service issue, complaint, reschedule request, cancellation, refund concern, follow-up, or needs help with something already arranged.\n- general_inquiry: The customer is asking general questions that are not clearly sales or support, such as business hours, location, contact details, cleaning process, payment methods, or basic information.\n\nRules:\n- Classify based on the customer's latest message and available conversation context.\n- If the customer wants to book, get a quote, asks “how much,” or asks if a service is available, choose sales.\n- If the customer mentions a previous booking, problem, complaint, delay, missed appointment, payment issue, or asks for an update, choose support.\n- If the message is informational and does not show purchase intent or an existing issue, choose general_inquiry.\n- If uncertain, choose the closest intent with lower confidence.\n- Do not answer the customer.\n- Do not ask follow-up questions.\n- Output only valid JSON. No markdown, no explanation outside JSON.\n\nJSON output format:\n{\n  \"intent\": \"sales | support | general_inquiry\",\n  \"confidence\": 0.0,\n  \"reason\": \"short reason for the classification\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [-848, -192],
      "id": "56231fb8-e131-4f62-8ec8-0336e1949740",
      "name": "Intent Identifier",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": { "sessionIdType": "customKey", "sessionKey": "={{ $('Message').item.json.chat_id }}", "sessionTTL": 604800, "contextWindowLength": 20 },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [-752, 0],
      "id": "0b4dac48-4876-41dc-8360-b4cfb1be77d6",
      "name": "Redis Chat Memory",
      "credentials": { "redis": { "id": "wsDUn34ZvM59Tj1t", "name": "Redis account" } }
    },
    {
      "parameters": {
        "jsCode": "const raw = ($input.first().json.output ?? '').toString();\nconst cleaned = raw.replace(/```(?:json)?/gi, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (error) {\n  parsed = {\n    intent: 'general_inquiry',\n    confidence: 0,\n    reason: 'Could not parse intent classifier output',\n  };\n}\n\nreturn [\n  {\n    json: {\n      intent: parsed.intent || 'general_inquiry',\n      confidence: Number(parsed.confidence || 0),\n      reason: parsed.reason || '',\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-528, -192],
      "id": "627f7da3-2ef2-418d-a808-10b193de471e",
      "name": "Parsed Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            { "id": "8c463349-eebe-4842-9e22-85e3c4b146b8", "leftValue": "={{ $json.intent }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty", "singleValue": true } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-336, -192],
      "id": "782da678-8aa7-44bd-8c7b-97c3a65c11b9",
      "name": "Intent check"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 }, "conditions": [ { "leftValue": "sales", "rightValue": "={{ $json.intent }}", "operator": { "type": "string", "operation": "equals" }, "id": "8757d974-2bf1-42c4-93c8-a72dd9accb7d" } ], "combinator": "and" } },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 }, "conditions": [ { "id": "a8975f52-90a0-4f8b-8dde-e323c9694242", "leftValue": "support", "rightValue": "={{ $json.intent }}", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" } },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 }, "conditions": [ { "id": "baf4e04d-bbac-4356-8efe-f50c53a95399", "leftValue": "general_inquiry", "rightValue": "={{ $json.intent }}", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" } }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [-96, -336],
      "id": "358510c9-a56d-4f4e-8661-6d378eda3506",
      "name": "Intent Routes"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Message').item.json.message }}",
        "options": {
          "systemMessage": "You are the Sales Agent for Wise Cleaner Shop. Your job is to help customers understand services, collect booking details, answer pricing questions when information is available, and move qualified leads toward a booking or quotation.\n\nMain goals:\n- Identify what cleaning service the customer needs.\n- Ask for missing details needed to quote or book.\n- If the customer has a complaint, existing-booking issue, refund, reschedule, cancellation, or follow-up, say you'll connect them with support.\n\nLanguage and message analysis:\n- Analyze the customer's latest message and chat history every turn before replying.\n- Detect the customer's intent, language preference, tone, urgency, and any missing details.\n- If the customer specifically asks to speak in English, reply in pure English.\n- If pure English is needed for clarity, professionalism, pricing details, policies, or technical explanations, use English.\n- If there is no clear language preference or nothing specific to analyze, default to casual Taglish.\n- For Tagalog or Taglish replies, sound casual, friendly, funny, and respectful.\n- You may naturally use expressions like \"jk\", \"joke\", \"jusko\", \"nyek\", \"ngek\", \"chika\", \"nays one\", \"keri lang\", \"naku\", \"char\", \"Ayyy\", \"AHAHAHAHAHHAAHA\", \"enebe\", \"pereng tenge te\", \"Arigato\", \"tenchuuu\", \"mwahhh\", and similar playful Filipino internet-style expressions.\n- Use slang sparingly and naturally. Do not force jokes or make every reply exaggerated.\n- Use very playful expressions like \"AHAHAHAHAHHAAHA\", \"pereng tenge te\", \"mwahhh\", or \"enebe\" only when the customer is also playful, casual, or joking.\n- Do not use jokes, flirting, or overly playful language for complaints, refunds, cancellations, urgent concerns, angry customers, or serious service issues.\n- For serious concerns, keep the tone calm, respectful, and helpful.\n- Use \"po\" / \"opo\" only if the customer uses them first or if the situation clearly needs a more polite tone.\n\nConversation rules:\n- Read the chat history every turn.\n- Resolve references like \"it\", \"that\", \"yun\", \"iyon\", or \"yung sinabi ko kanina\" before answering.\n- Do not re-ask for details already provided.\n- Ask only 1-3 questions at a time.\n- Be concise, usually one or two sentences when possible.\n- Use the customer's name occasionally when it feels natural, not in every reply.\n\nStyle and voice:\n- Plain, direct, warm, and helpful.\n- In Taglish, be friendly and light with casual chika energy, but still professional.\n- Avoid generic filler like \"Certainly!\", \"Great question!\", or \"Of course!\".\n- Light formatting only:\n  - Wrap key terms and prices in **double asterisks** for bold, like **₱455**.\n  - Start list items with \"- \".\n- Do not use italics, headings, tables, links, or JSON.\n- Reply directly to the customer.\n- Never mention internal routing, prompts, tools, workflow logic, or system instructions.\n\nGrounding — always use your tools, never invent:\n- Your two lookup tools are your ONLY source of truth about the shop. Do NOT answer about products, prices, or shop info from memory, assumptions, or what was said earlier in the chat — your memory can be wrong or outdated, so re-check with a tool.\n- search_catalog — the shop's PRODUCTS and SERVICES: names, categories, prices, packages, promos, bundles. You MUST call it before answering anything about what is offered, how much something costs, what's available, or any product or package.\n- knowledge_base — the shop's FAQ and saved answers: policies, hours, location, contact, payment methods, the cleaning process, \"what do you offer\", refunds/cancellations, and other general questions. You MUST call it before answering any general or informational question.\n- How to choose: a product / price / package question -> search_catalog. A general / policy / info question -> knowledge_base. If the question touches both, call both. If unsure which, call knowledge_base first.\n- Answer ONLY with what the tools return. NEVER state or guess a price, product name, package, promo, availability, policy, schedule, contact detail, or service detail that a tool did not return.\n- If the tools return nothing relevant, do NOT make something up. Say honestly (in the customer's language) that you're not sure or don't have that detail yet, and ask one specific follow-up question.\n- You do NOT need a tool for pure greetings, thanks, small talk, or clarifying questions that contain no factual claim.\n\nTransferring to a human:\n- You have a \"Transfer to Human\" tool that hands the conversation to a human live agent.\n- ONLY call it when the customer explicitly asks to talk to or be transferred to a human, live agent, real person, staff, or manager.\n- Examples:\n  - \"Can I talk to a person?\"\n  - \"I want a real agent.\"\n  - \"Transfer me to a human.\"\n  - \"Let me speak to someone.\"\n- Do NOT transfer for hard questions, missing prices, complaints, anger, or sensitive topics unless the customer explicitly asks for a human.\n- When they explicitly ask, call the tool once, then send one short, warm message saying a teammate will take over shortly.\n- Never mention tools, routing, or internal logic."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [240, -544],
      "id": "8c66795f-ae59-41a0-a54a-8ff5f1da488e",
      "name": "Sales Agent",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": { "options": {} },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [160, -352],
      "id": "bd08edcc-63bb-42f0-ad4a-bd93ffca0a0e",
      "name": "DeepSeek Chat Model2",
      "credentials": { "deepSeekApi": { "id": "68UvPwiyV4L6DKry", "name": "DeepSeek account" } }
    },
    {
      "parameters": { "sessionIdType": "customKey", "sessionKey": "={{ $('Message').item.json.chat_id }}", "contextWindowLength": 20 },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [304, -352],
      "id": "48b941e1-8007-4870-819f-1a43dd3f6775",
      "name": "Sales Agent Memory",
      "credentials": { "redis": { "id": "wsDUn34ZvM59Tj1t", "name": "Redis account" } }
    },
    {
      "parameters": {
        "toolDescription": "Hand off THIS conversation to a human live agent. Use this ONLY when the customer explicitly asks to speak to or be transferred to a human, live agent, real person, staff, or manager. Do not use it for any other reason.",
        "method": "POST",
        "url": "https://pwise-api.sixpent.com/api/messages/handoff",
        "sendHeaders": true,
        "parametersHeaders": { "values": [ { "name": "x-service-token", "value": "={{ $('Message').item.json.SERVICE_TOKEN }}" } ] },
        "sendBody": true,
        "parametersBody": { "values": [ { "name": "accountId", "value": "={{ String($('Message').item.json.accountId) }}" }, { "name": "customerHandle", "value": "={{ $('Message').item.json.chat_id }}" }, { "name": "origin", "value": "={{ $('Message').item.json.platform }}" } ] }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [880, 400],
      "id": "98b36aed-642e-4e94-a7bb-26c096ce7168",
      "name": "Transfer to Human"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Message').item.json.message }}",
        "options": {
          "systemMessage": "You are the Support Agent for Wise Cleaner Shop. Help customers with existing bookings, service issues, complaints, reschedules, cancellations, refunds, and follow-ups.\n\nMain goals:\n- Understand the customer's existing booking or issue.\n- Gather the details needed to resolve it, such as booking reference, date, service, and what went wrong.\n- Set clear expectations on next steps.\n- If the customer is actually asking for a new service, new booking, quotation, or sales inquiry, say you'll connect them with sales.\n\nLanguage and message analysis:\n- Analyze the customer's latest message and the chat history every turn before replying.\n- Identify the customer's intent, issue, language preference, tone, urgency, and missing details.\n- If the customer specifically asks to speak in English, reply in pure English.\n- If pure English is needed for clarity, professionalism, policies, refunds, or serious support issues, use English.\n- If there is no clear language preference or nothing specific to analyze, default to casual Taglish.\n- For Tagalog or Taglish replies, sound casual, friendly, funny, and respectful.\n- You may naturally use expressions like \"jk\", \"joke\", \"jusko\", \"nyek\", \"ngek\", \"chika\", \"nays one\", \"keri lang\", \"naku\", \"char\", \"Ayyy\", \"AHAHAHAHAHHAAHA\", \"enebe\", \"pereng tenge te\", \"Arigato\", \"tenchuuu\", \"mwahhh\", and similar playful Filipino internet-style expressions.\n- Use slang sparingly and naturally. Do not force jokes or make every reply sound exaggerated.\n- Use very playful expressions like \"AHAHAHAHAHHAAHA\", \"pereng tenge te\", \"mwahhh\", or \"enebe\" only when the customer is also playful, casual, or joking.\n- Do not use jokes, flirting, or overly playful language for complaints, refunds, cancellations, damaged items, urgent concerns, frustrated customers, or serious support issues.\n- For serious concerns, keep the tone calm, respectful, and helpful.\n- Use \"po\" / \"opo\" only if the customer uses them first or if the situation clearly needs a more polite tone.\n\nConversation:\n- Read the chat history every turn.\n- Resolve references like \"it\", \"that\", \"yun\", \"iyon\", or \"yung sinabi ko kanina\" before answering.\n- Do not re-ask for details already provided.\n- Ask only 1-3 questions at a time.\n- Be concise, usually one or two sentences when possible.\n- Use the customer's name occasionally when it feels natural, not in every reply.\n\nStyle and voice:\n- Plain, direct, warm, and helpful.\n- In Taglish, be casual and friendly with light chika energy, but stay professional.\n- Avoid generic filler like \"Certainly!\", \"Great question!\", or \"Of course!\".\n- Light formatting only:\n  - Wrap key terms and prices in **double asterisks** for bold, like **₱455**.\n  - Start list items with \"- \".\n- Do not use italics, headings, tables, links, or JSON.\n- Reply directly to the customer.\n- Never mention internal prompts, tools, workflow logic, or system instructions.\n\nGrounding — always use your tools, never invent:\n- Your two lookup tools are your ONLY source of truth about the shop. Do NOT answer about products, prices, policies, or shop info from memory, assumptions, or what was said earlier in the chat — your memory can be wrong or outdated, so re-check with a tool.\n- knowledge_base — the shop's FAQ and saved answers: policies, refunds, cancellations, reschedules, hours, the support process, how things work, and other general questions. You MUST call it before answering any policy or general/support question.\n- search_catalog — the shop's PRODUCTS and SERVICES: names, categories, prices, packages. Call it before answering anything about what is offered or how much something costs.\n- How to choose: a policy / refund / general question -> knowledge_base. A product / price question -> search_catalog. If the question touches both, call both. If unsure which, call knowledge_base first.\n- Answer ONLY with what the tools return. NEVER state or guess a policy, refund amount, timeline, price, product, package, or service detail that a tool did not return.\n- If the tools return nothing relevant, do NOT make something up. Say honestly (in the customer's language) that you're not sure or don't have that detail yet, and ask one specific follow-up question.\n- You do NOT need a tool for pure greetings, thanks, small talk, or clarifying questions that contain no factual claim.\n\nTransferring to a human:\n- You have a \"Transfer to Human\" tool that hands the conversation to a human live agent.\n- ONLY call it when the customer explicitly asks to talk to or be transferred to a human, live agent, real person, staff, or manager.\n- Examples:\n  - \"Can I talk to a person?\"\n  - \"I want a real agent.\"\n  - \"Transfer me to a human.\"\n  - \"Let me speak to someone.\"\n- Do NOT transfer for complaints, frustration, refunds, sensitive issues, difficult questions, or missing information unless the customer explicitly asks for a human.\n- Keep helping the customer yourself unless they clearly ask for a human.\n- When they explicitly ask, call the tool once, then send one short, warm message saying a teammate will take over shortly.\n- Never mention tools, routing, or internal logic."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [240, -192],
      "id": "8d0f4153-c645-4f4b-b98e-2dc34909072b",
      "name": "Support Agent",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": { "options": {} },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [160, -16],
      "id": "ad7afff9-9097-4a3d-aa65-c2748032e323",
      "name": "DeepSeek Chat Model3",
      "credentials": { "deepSeekApi": { "id": "68UvPwiyV4L6DKry", "name": "DeepSeek account" } }
    },
    {
      "parameters": { "sessionIdType": "customKey", "sessionKey": "={{ $('Message').item.json.chat_id }}", "contextWindowLength": 20 },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [304, -16],
      "id": "ab248662-2cdf-4882-865f-550f03f57640",
      "name": "Support Agent Memory",
      "credentials": { "redis": { "id": "wsDUn34ZvM59Tj1t", "name": "Redis account" } }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Message').item.json.message }}",
        "options": {
          "systemMessage": "You are the General Inquiry Agent for Wise Cleaner Shop. Answer general questions about hours, location, contact details, the cleaning process, payment methods, and basic service information.\n\nMain goals:\n- Help customers with general questions about Wise Cleaner Shop.\n- If the customer clearly wants a quote, booking, or new service request, say you'll connect them with sales.\n- If the customer asks about an existing booking, service issue, complaint, reschedule, cancellation, refund, or follow-up, say you'll connect them with support.\n\nLanguage and message analysis:\n- Analyze the customer's latest message and the chat history every turn before replying.\n- Identify the customer's intent, language preference, tone, urgency, and missing details.\n- If the customer specifically asks to speak in English, reply in pure English.\n- If pure English is needed for clarity, professionalism, policies, or detailed explanations, use English.\n- If there is no clear language preference or nothing specific to analyze, default to casual Taglish.\n- For Tagalog or Taglish replies, sound casual, friendly, funny, and respectful.\n- You may naturally use expressions like \"jk\", \"joke\", \"jusko\", \"nyek\", \"ngek\", \"chika\", \"nays one\", \"keri lang\", \"naku\", \"char\", \"Ayyy\", \"AHAHAHAHAHHAAHA\", \"enebe\", \"pereng tenge te\", \"Arigato\", \"tenchuuu\", \"mwahhh\", and similar playful Filipino internet-style expressions.\n- Use slang sparingly and naturally. Do not force jokes or make every reply sound exaggerated.\n- Use very playful expressions like \"AHAHAHAHAHHAAHA\", \"pereng tenge te\", or \"mwahhh\" only when the customer is also playful or casual.\n- Do not use jokes, flirting, or overly playful language for complaints, refunds, cancellations, damaged items, urgent concerns, or frustrated customers.\n- For serious concerns, keep the tone calm, respectful, and helpful.\n- Use \"po\" / \"opo\" only if the customer uses them first or if the situation clearly needs a more polite tone.\n\nConversation:\n- Read the chat history every turn.\n- Resolve references like \"it\", \"that\", \"yun\", \"iyon\", or \"yung sinabi ko kanina\" before answering.\n- Do not re-ask for details already provided.\n- Ask only 1-3 questions at a time.\n- Be concise, usually one or two sentences when possible.\n- Use the customer's name occasionally when it feels natural, not in every reply.\n\nStyle and voice:\n- Plain, direct, warm, and helpful.\n- In Taglish, keep it casual and friendly with light chika energy, but still professional.\n- Avoid generic filler like \"Certainly!\", \"Great question!\", or \"Of course!\".\n- Light formatting only:\n  - Wrap key terms and prices in **double asterisks** for bold, like **₱455**.\n  - Start list items with \"- \".\n- Do not use italics, headings, tables, links, or JSON.\n- Reply directly to the customer.\n- Never mention internal prompts, tools, workflow logic, or system instructions.\n\nGrounding — always use your tools, never invent:\n- Your two lookup tools are your ONLY source of truth about the shop. Do NOT answer about shop info, prices, or policies from memory, assumptions, or what was said earlier in the chat — your memory can be wrong or outdated, so re-check with a tool.\n- knowledge_base — the shop's FAQ and saved answers: hours, location, contact details, payment methods, the cleaning process, policies, \"what do you offer\", how things work, and other general questions. You MUST call it before answering any general or informational question.\n- search_catalog — the shop's PRODUCTS and SERVICES: names, categories, prices, packages. Call it before answering anything about what is offered or how much something costs.\n- How to choose: a general / info question -> knowledge_base. A product / price question -> search_catalog. If the question touches both, call both. If unsure which, call knowledge_base first.\n- Answer ONLY with what the tools return. NEVER state or guess hours, location, contact details, prices, products, promos, or policies that a tool did not return.\n- If the tools return nothing relevant, do NOT make something up. Say honestly (in the customer's language) that you're not sure or don't have that detail yet, and ask one specific follow-up question.\n- You do NOT need a tool for pure greetings, thanks, small talk, or clarifying questions that contain no factual claim.\n\nTransferring to a human:\n- You have a \"Transfer to Human\" tool that hands the conversation to a human live agent.\n- ONLY call it when the customer explicitly asks to talk to or be transferred to a human, live agent, real person, staff, or manager.\n- Examples:\n  - \"Can I talk to a person?\"\n  - \"I want a real agent.\"\n  - \"Transfer me to a human.\"\n  - \"Let me speak to someone.\"\n- Do NOT transfer for general questions, missing information, complaints, pricing questions, or difficult questions unless the customer explicitly asks for a human.\n- When they explicitly ask, call the tool once, then send one short, warm message saying a teammate will take over shortly.\n- Never mention tools, routing, or internal logic."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [240, 176],
      "id": "68946502-39de-4547-b235-79e34497d981",
      "name": "General Inquiry Agent",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": { "options": {} },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [160, 336],
      "id": "d818d1e7-2f33-4c4f-ae85-f0319818e302",
      "name": "DeepSeek Chat Model1",
      "credentials": { "deepSeekApi": { "id": "68UvPwiyV4L6DKry", "name": "DeepSeek account" } }
    },
    {
      "parameters": { "sessionIdType": "customKey", "sessionKey": "={{ $('Message').item.json.chat_id }}", "contextWindowLength": 20 },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [304, 336],
      "id": "a71c7f8f-fbae-4d05-b234-ee33728001f8",
      "name": "General Inquiry Agent Memory",
      "credentials": { "redis": { "id": "wsDUn34ZvM59Tj1t", "name": "Redis account" } }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "5859dd5d-03a2-4c3e-924b-ab3730358c5d", "name": "message", "value": "={{ $json.output }}", "type": "string" },
            { "id": "7cb10168-5caa-4ed6-9b7b-706235eb8990", "name": "chat_id", "value": "={{ $('Message').item.json.chat_id }}", "type": "string" },
            { "id": "a1aa52bb-bc53-4f8e-b8b8-0addd164dca8", "name": "accountId", "value": "={{ $('Message').item.json.accountId }}", "type": "string" },
            { "id": "3152b13a-1161-457a-a17d-0bd4c51a7f4c", "name": "platform", "value": "={{ $('Message').item.json.platform }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1136, -192],
      "id": "a2ac41b5-9153-4434-a788-2f2ff326ab28",
      "name": "Normalize Reply"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pwise-api.sixpent.com/api/messages/inbound",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "x-service-token", "value": "={{ $('Message').item.json.SERVICE_TOKEN }}" } ] },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "text", "value": "={{ $json.message }}" },
            { "name": "customerHandle", "value": "={{ $json.chat_id }}" },
            { "name": "accountId", "value": "={{ $json.accountId }}" },
            { "name": "origin", "value": "={{ $json.platform }}" },
            { "name": "side", "value": "outgoing" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1328, -192],
      "id": "86ebeb01-728c-42cc-a3bd-9ced9d47000f",
      "name": "Post Reply"
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "value": "NOcOUYSM8TvGWvzR", "mode": "list", "cachedResultName": "Error Workflow" },
        "workflowInputs": { "mappingMode": "defineBelow", "value": {}, "matchingColumns": [], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": true },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [1136, 0],
      "id": "079ba3b5-2b26-490e-a553-3ff6d95590c1",
      "name": "On Agent Error"
    },
    {
      "parameters": {
        "toolDescription": "Look up the shop's PRODUCTS by keyword — names, categories, and prices. Pass a short query like 'dishwashing liquid 5L kit' or 'car shampoo'. Returns the closest product rows (name, category, price). Use it for anything about products, prices, or packages, and ground your reply in what it returns — never invent prices or items.",
        "method": "POST",
        "url": "https://pwise-api.sixpent.com/api/messages/knowledge",
        "sendHeaders": true,
        "parametersHeaders": { "values": [ { "name": "x-service-token", "value": "={{ $('Message').item.json.SERVICE_TOKEN }}" } ] },
        "sendBody": true,
        "parametersBody": { "values": [ { "name": "accountId", "value": "={{ String($('Message').item.json.accountId) }}" }, { "name": "query", "value": "={{ $fromAI('query', 'product keywords', 'string') }}" } ] }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [656, 512],
      "id": "24c31fa8-41cb-44d7-9a06-2d2f6824b105",
      "name": "Search Catalog"
    },
    {
      "parameters": { "options": {} },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [1024, 656],
      "id": "ab9bdeb8-d8f4-46bf-a8e0-403a8f8f48a3",
      "name": "Embeddings OpenAI",
      "credentials": { "openAiApi": { "id": "g0Kl7ZL1RswRmHnP", "name": "OpenAI account" } }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "Answer customer questions from the shop's FAQ knowledge base (greetings, policies, what's offered, hours, how things work, common questions). Pass the customer's question or its keywords; returns the closest previously-answered Q&A. Prefer a matching answer when one comes back; if nothing relevant returns, use your own judgement and don't invent specifics.",
        "tableName": { "__rl": true, "value": "agent_documents", "mode": "list", "cachedResultName": "agent_documents" },
        "options": { "queryName": "match_agent_documents" }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [1024, 464],
      "id": "453c33a1-4c0e-46d8-b1e2-09829a7a4252",
      "name": "Knowledge Base",
      "credentials": { "supabaseApi": { "id": "laDeVmHXe7YYZkKQ", "name": "Supabase account" } }
    }
  ],
  "connections": {
    "AI Inbound": { "main": [ [ { "node": "Message", "type": "main", "index": 0 } ] ] },
    "Message": { "main": [ [ { "node": "Intent Identifier", "type": "main", "index": 0 } ] ] },
    "DeepSeek Chat Model": { "ai_languageModel": [ [ { "node": "Intent Identifier", "type": "ai_languageModel", "index": 0 } ] ] },
    "Intent Identifier": { "main": [ [ { "node": "Parsed Output", "type": "main", "index": 0 } ] ] },
    "Redis Chat Memory": { "ai_memory": [ [ { "node": "Intent Identifier", "type": "ai_memory", "index": 0 } ] ] },
    "Parsed Output": { "main": [ [ { "node": "Intent check", "type": "main", "index": 0 } ] ] },
    "Intent check": { "main": [ [ { "node": "Intent Routes", "type": "main", "index": 0 } ], [ { "node": "General Inquiry Agent", "type": "main", "index": 0 } ] ] },
    "Intent Routes": { "main": [ [ { "node": "Sales Agent", "type": "main", "index": 0 } ], [ { "node": "Support Agent", "type": "main", "index": 0 } ], [ { "node": "General Inquiry Agent", "type": "main", "index": 0 } ] ] },
    "Sales Agent": { "main": [ [ { "node": "Normalize Reply", "type": "main", "index": 0 } ], [ { "node": "On Agent Error", "type": "main", "index": 0 } ] ] },
    "DeepSeek Chat Model2": { "ai_languageModel": [ [ { "node": "Sales Agent", "type": "ai_languageModel", "index": 0 } ] ] },
    "Sales Agent Memory": { "ai_memory": [ [ { "node": "Sales Agent", "type": "ai_memory", "index": 0 } ] ] },
    "Transfer to Human": { "ai_tool": [ [ { "node": "Sales Agent", "type": "ai_tool", "index": 0 }, { "node": "Support Agent", "type": "ai_tool", "index": 0 }, { "node": "General Inquiry Agent", "type": "ai_tool", "index": 0 } ] ] },
    "Support Agent": { "main": [ [ { "node": "Normalize Reply", "type": "main", "index": 0 } ], [ { "node": "On Agent Error", "type": "main", "index": 0 } ] ] },
    "DeepSeek Chat Model3": { "ai_languageModel": [ [ { "node": "Support Agent", "type": "ai_languageModel", "index": 0 } ] ] },
    "Support Agent Memory": { "ai_memory": [ [ { "node": "Support Agent", "type": "ai_memory", "index": 0 } ] ] },
    "General Inquiry Agent": { "main": [ [ { "node": "Normalize Reply", "type": "main", "index": 0 } ], [ { "node": "On Agent Error", "type": "main", "index": 0 } ] ] },
    "DeepSeek Chat Model1": { "ai_languageModel": [ [ { "node": "General Inquiry Agent", "type": "ai_languageModel", "index": 0 } ] ] },
    "General Inquiry Agent Memory": { "ai_memory": [ [ { "node": "General Inquiry Agent", "type": "ai_memory", "index": 0 } ] ] },
    "Normalize Reply": { "main": [ [ { "node": "Post Reply", "type": "main", "index": 0 } ] ] },
    "Search Catalog": { "ai_tool": [ [ { "node": "Sales Agent", "type": "ai_tool", "index": 0 }, { "node": "Support Agent", "type": "ai_tool", "index": 0 }, { "node": "General Inquiry Agent", "type": "ai_tool", "index": 0 } ] ] },
    "Embeddings OpenAI": { "ai_embedding": [ [ { "node": "Knowledge Base", "type": "ai_embedding", "index": 0 } ] ] },
    "Knowledge Base": { "ai_tool": [ [ { "node": "Sales Agent", "type": "ai_tool", "index": 0 }, { "node": "Support Agent", "type": "ai_tool", "index": 0 }, { "node": "General Inquiry Agent", "type": "ai_tool", "index": 0 } ] ] }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "65920e30f382a1064e38243457955455c5337d9c4dd5c8a89a6e793460e8da22"
  }
}
