scripts/n8n/ai-inbound.workflow.json
{
  "name": "Main Workflow",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "ai-inbound", "options": {} },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [1120, 304],
      "id": "98f6f2fd-3296-45b0-8c97-734ebc2ac6eb",
      "name": "AI Inbound",
      "webhookId": "ai-inbound-15dd300f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "11111111-1111-4111-8111-111111111111", "name": "message", "value": "={{ $json.body.text }}", "type": "string" },
            { "id": "22222222-2222-4222-8222-222222222222", "name": "chat_id", "value": "={{ $json.body.chatId }}", "type": "string" },
            { "id": "33333333-3333-4333-8333-333333333333", "name": "accountId", "value": "={{ $json.body.accountId }}", "type": "string" },
            { "id": "44444444-4444-4444-8444-444444444444", "name": "platform", "value": "={{ $json.body.platform }}", "type": "string" },
            { "id": "55555555-5555-4555-8555-555555555555", "name": "SERVICE_TOKEN", "value": "REPLACE_WITH_SERVICE_TOKEN", "type": "string" },
            { "id": "66666666-6666-4666-8666-666666666666", "name": "systemSales", "value": "={{ $json.body.systemSales }}", "type": "string" },
            { "id": "77777777-7777-4777-8777-777777777777", "name": "systemSupport", "value": "={{ $json.body.systemSupport }}", "type": "string" },
            { "id": "88888888-8888-4888-8888-888888888888", "name": "systemGeneral", "value": "={{ $json.body.systemGeneral }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1312, 304],
      "id": "0fc6f137-f4a3-4240-b8ae-2c0456af14fb",
      "name": "Message"
    },
    {
      "parameters": { "options": {} },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [1520, 656],
      "id": "9fca98bc-9ba6-40eb-8cf4-b7966344322e",
      "name": "DeepSeek Chat Model",
      "credentials": { "deepSeekApi": { "id": "68UvPwiyV4L6DKry", "name": "DeepSeek account" } }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Message').first().json.message }}",
        "options": {
          "systemMessage": "You are an Intent Identifier Agent. Your only job is to classify the customer's latest message into one intent for routing.\n\nAllowed intents:\n- sales: The customer is asking about prices, packages, availability, booking, quotation, services offered, promos, or wants to hire/purchase a service.\n- support: The customer has an existing booking/order/service issue, complaint, reschedule request, cancellation, refund concern, follow-up, or needs help with something already arranged.\n- general_inquiry: The customer is asking general questions that are not clearly sales or support, such as business hours, location, contact details, cleaning process, payment methods, or basic information.\n\nRules:\n- Classify based on the customer's latest message and available conversation context.\n- If the customer wants to book, get a quote, asks “how much,” or asks if a service is available, choose sales.\n- If the customer mentions a previous booking, problem, complaint, delay, missed appointment, payment issue, or asks for an update, choose support.\n- If the message is informational and does not show purchase intent or an existing issue, choose general_inquiry.\n- If uncertain, choose the closest intent with lower confidence.\n- Do not answer the customer.\n- Do not ask follow-up questions.\n- Output only valid JSON. No markdown, no explanation outside JSON.\n\nJSON output format:\n{\n  \"intent\": \"sales | support | general_inquiry\",\n  \"confidence\": 0.0,\n  \"reason\": \"short reason for the classification\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [1520, 304],
      "id": "b5f74a02-4488-44ce-9ca4-7fe7d4c52854",
      "name": "Intent Identifier",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Message').first().json.chat_id }}",
        "sessionTTL": 604800,
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [1616, 496],
      "id": "17fa57cc-9357-4bfb-aea6-5ec72adfdfd5",
      "name": "Redis Chat Memory",
      "credentials": { "redis": { "id": "wsDUn34ZvM59Tj1t", "name": "Redis account" } }
    },
    {
      "parameters": {
        "jsCode": "const raw = ($input.first().json.output ?? '').toString();\nconst cleaned = raw.replace(/```(?:json)?/gi, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (error) {\n  parsed = {\n    intent: 'general_inquiry',\n    confidence: 0,\n    reason: 'Could not parse intent classifier output',\n  };\n}\n\nreturn [\n  {\n    json: {\n      intent: parsed.intent || 'general_inquiry',\n      confidence: Number(parsed.confidence || 0),\n      reason: parsed.reason || '',\n    },\n    pairedItem: { item: 0 },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1840, 304],
      "id": "b57a4118-9524-435f-a840-cd4cca4d7dc5",
      "name": "Parsed Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            { "id": "8c463349-eebe-4842-9e22-85e3c4b146b8", "leftValue": "={{ $json.intent }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty", "singleValue": true } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [2032, 304],
      "id": "6894e978-c618-47f2-8efc-c6b955d011cd",
      "name": "Intent check"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 }, "conditions": [ { "leftValue": "sales", "rightValue": "={{ $json.intent }}", "operator": { "type": "string", "operation": "equals" }, "id": "8757d974-2bf1-42c4-93c8-a72dd9accb7d" } ], "combinator": "and" } },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 }, "conditions": [ { "id": "a8975f52-90a0-4f8b-8dde-e323c9694242", "leftValue": "support", "rightValue": "={{ $json.intent }}", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" } },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 }, "conditions": [ { "id": "baf4e04d-bbac-4356-8efe-f50c53a95399", "leftValue": "general_inquiry", "rightValue": "={{ $json.intent }}", "operator": { "type": "string", "operation": "equals" } } ], "combinator": "and" } }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [2272, 160],
      "id": "4fc67d34-c1b8-4562-935a-adb4b17afa86",
      "name": "Intent Routes"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Message').first().json.message }}",
        "options": { "systemMessage": "={{ $('Message').first().json.systemSales }}\n\nShowing photos and media:\n- You have a Send Media tool (send_media) that finds a photo or video in THIS page's media library and shows it directly to the customer.\n- When an image would help, USE it — e.g. the customer asks what something looks like, asks to \"see\" a product / sample / menu / design, asks for a photo, or is choosing between options. If a relevant image is available, send it instead of describing the item in a long paragraph.\n- To use it, pass a short query of what to show (the product name or a few keywords). It matches the library by each file's tags, name, and description, so use the customer's own words.\n- A short sentence plus the photo beats a big block of text.\n- Only say you sent a photo if the tool reports it actually sent one. If nothing matches, say you don't have a photo for that yet (don't invent one) and offer to help another way.\n- Don't over-send — use it when it genuinely helps, not in every message." }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [2592, -64],
      "id": "f3968588-8439-4200-bdb1-358d073ae7d5",
      "name": "Sales Agent",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": { "options": {} },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [2528, 144],
      "id": "4e30de76-6909-4964-b311-ed4c934cfbe9",
      "name": "DeepSeek Chat Model2",
      "credentials": { "deepSeekApi": { "id": "68UvPwiyV4L6DKry", "name": "DeepSeek account" } }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Message').first().json.chat_id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [2672, 144],
      "id": "f2a2ce76-61f4-428f-be55-18aefb419dbc",
      "name": "Sales Agent Memory",
      "credentials": { "redis": { "id": "wsDUn34ZvM59Tj1t", "name": "Redis account" } }
    },
    {
      "parameters": {
        "description": "Hand off THIS conversation to a human live agent. Use ONLY when the customer explicitly asks to talk to or be transferred to a human, live agent, real person, staff, or manager.",
        "workflowId": { "__rl": true, "value": "OGnynfOrmrAPtK54", "mode": "list", "cachedResultName": "Pwise AI Tools" },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "handoff",
            "accountId": "={{ $('Message').first().json.accountId }}",
            "serviceToken": "={{ $('Message').first().json.SERVICE_TOKEN }}",
            "customerHandle": "={{ $('Message').first().json.chat_id }}",
            "origin": "={{ $('Message').first().json.platform }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "action", "displayName": "action", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false, "removed": false },
            { "id": "accountId", "displayName": "accountId", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false, "removed": false },
            { "id": "serviceToken", "displayName": "serviceToken", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false, "removed": false },
            { "id": "customerHandle", "displayName": "customerHandle", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false, "removed": false },
            { "id": "origin", "displayName": "origin", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false, "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [3360, 768],
      "id": "de72a3cf-f1c2-4f62-a511-d6381b43c806",
      "name": "Transfer to Human"
    },
    {
      "parameters": {
        "description": "Send a photo / sample image from the shop's media library straight to the customer. Use when the customer asks to SEE something visual — a photo, picture, sample, before/after, or a look at a product, service, or result (e.g. 'pakita mo', 'may pic/litrato ba', 'can I see', 'patingin'). Pass a short description of what to show. The image is delivered to the customer automatically; after calling this, send one short caption / text reply.",
        "workflowId": { "__rl": true, "value": "OGnynfOrmrAPtK54", "mode": "list", "cachedResultName": "Pwise AI Tools" },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "send_media",
            "accountId": "={{ $('Message').first().json.accountId }}",
            "serviceToken": "={{ $('Message').first().json.SERVICE_TOKEN }}",
            "customerHandle": "={{ $('Message').first().json.chat_id }}",
            "origin": "={{ $('Message').first().json.platform }}",
            "query": "={{ $fromAI('input', 'A short description of the photo or sample to show, e.g. \"before and after deep cleaning\", \"sofa cleaning result\"', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "action", "displayName": "action", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "accountId", "displayName": "accountId", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "serviceToken", "displayName": "serviceToken", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "query", "displayName": "query", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "customerHandle", "displayName": "customerHandle", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "origin", "displayName": "origin", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [3248, 1120],
      "id": "89928fb6-6a85-4eba-b1ad-9a05bcaad133",
      "name": "Send Media"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Message').first().json.message }}",
        "options": { "systemMessage": "={{ $('Message').first().json.systemSupport }}\n\nShowing photos and media:\n- You have a Send Media tool (send_media) that finds a photo or video in THIS page's media library and shows it directly to the customer.\n- When an image would help, USE it — e.g. the customer asks what something looks like, asks to \"see\" a product / sample / menu / design, asks for a photo, or is choosing between options. If a relevant image is available, send it instead of describing the item in a long paragraph.\n- To use it, pass a short query of what to show (the product name or a few keywords). It matches the library by each file's tags, name, and description, so use the customer's own words.\n- A short sentence plus the photo beats a big block of text.\n- Only say you sent a photo if the tool reports it actually sent one. If nothing matches, say you don't have a photo for that yet (don't invent one) and offer to help another way.\n- Don't over-send — use it when it genuinely helps, not in every message." }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [2608, 304],
      "id": "4abcaaf0-7601-434c-ab79-6e0046a6ea1e",
      "name": "Support Agent",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": { "options": {} },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [2528, 480],
      "id": "59e09308-c7fe-42a5-a1c2-15a8aca0c924",
      "name": "DeepSeek Chat Model3",
      "credentials": { "deepSeekApi": { "id": "68UvPwiyV4L6DKry", "name": "DeepSeek account" } }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Message').first().json.chat_id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [2672, 480],
      "id": "5f07fb9b-8a2b-46b2-bb0d-1b90d16d8802",
      "name": "Support Agent Memory",
      "credentials": { "redis": { "id": "wsDUn34ZvM59Tj1t", "name": "Redis account" } }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Message').first().json.message }}",
        "options": { "systemMessage": "={{ $('Message').first().json.systemGeneral }}\n\nShowing photos and media:\n- You have a Send Media tool (send_media) that finds a photo or video in THIS page's media library and shows it directly to the customer.\n- When an image would help, USE it — e.g. the customer asks what something looks like, asks to \"see\" a product / sample / menu / design, asks for a photo, or is choosing between options. If a relevant image is available, send it instead of describing the item in a long paragraph.\n- To use it, pass a short query of what to show (the product name or a few keywords). It matches the library by each file's tags, name, and description, so use the customer's own words.\n- A short sentence plus the photo beats a big block of text.\n- Only say you sent a photo if the tool reports it actually sent one. If nothing matches, say you don't have a photo for that yet (don't invent one) and offer to help another way.\n- Don't over-send — use it when it genuinely helps, not in every message." }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [2608, 672],
      "id": "ce40aa43-e14a-446d-b171-fab0009bfc2e",
      "name": "General Inquiry Agent",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": { "options": {} },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [2528, 832],
      "id": "7c39d2e1-17d3-4efa-bb5e-aaafd9640122",
      "name": "DeepSeek Chat Model1",
      "credentials": { "deepSeekApi": { "id": "68UvPwiyV4L6DKry", "name": "DeepSeek account" } }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Message').first().json.chat_id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [2672, 832],
      "id": "fb41550c-cb63-4904-bff1-8ff3060e5bf3",
      "name": "General Inquiry Agent Memory",
      "credentials": { "redis": { "id": "wsDUn34ZvM59Tj1t", "name": "Redis account" } }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "5859dd5d-03a2-4c3e-924b-ab3730358c5d", "name": "message", "value": "={{ $json.output }}", "type": "string" },
            { "id": "7cb10168-5caa-4ed6-9b7b-706235eb8990", "name": "chat_id", "value": "={{ $('Message').first().json.chat_id }}", "type": "string" },
            { "id": "a1aa52bb-bc53-4f8e-b8b8-0addd164dca8", "name": "accountId", "value": "={{ $('Message').first().json.accountId }}", "type": "string" },
            { "id": "3152b13a-1161-457a-a17d-0bd4c51a7f4c", "name": "platform", "value": "={{ $('Message').first().json.platform }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [3504, 304],
      "id": "1c771f0e-350a-4a32-8b84-5f046d069135",
      "name": "Normalize Reply"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pwise-api.sixpent.com/api/messages/inbound",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "x-service-token", "value": "={{ $('Message').first().json.SERVICE_TOKEN }}" } ] },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "text", "value": "={{ $json.message }}" },
            { "name": "customerHandle", "value": "={{ $json.chat_id }}" },
            { "name": "accountId", "value": "={{ $json.accountId }}" },
            { "name": "origin", "value": "={{ $json.platform }}" },
            { "name": "side", "value": "outgoing" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [3712, 304],
      "id": "3f0cb9f2-f603-4c92-844b-016422711c89",
      "name": "Post Reply"
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "value": "NOcOUYSM8TvGWvzR", "mode": "list", "cachedResultName": "Error Workflow" },
        "workflowInputs": { "mappingMode": "defineBelow", "value": {}, "matchingColumns": [], "schema": [], "attemptToConvertTypes": false, "convertFieldsToString": true },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [3504, 496],
      "id": "78f38b83-c478-4a8d-9ff0-884733bb57ef",
      "name": "On Agent Error"
    },
    {
      "parameters": {
        "description": "Look up the shop's PRODUCTS by keyword — names, categories, and prices. Pass a short query like 'dishwashing liquid 5L kit' or 'car shampoo'. Returns the closest product rows. Use it for anything about products, prices, or packages, and ground your reply in what it returns — never invent prices or items.",
        "workflowId": { "__rl": true, "value": "OGnynfOrmrAPtK54", "mode": "list", "cachedResultName": "Pwise AI Tools" },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "search_catalog",
            "accountId": "={{ $('Message').first().json.accountId }}",
            "serviceToken": "={{ $('Message').first().json.SERVICE_TOKEN }}",
            "query": "={{ $fromAI('input', 'product keywords to search the catalog for', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "action", "displayName": "action", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "accountId", "displayName": "accountId", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "serviceToken", "displayName": "serviceToken", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "query", "displayName": "query", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "customerHandle", "displayName": "customerHandle", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false },
            { "id": "origin", "displayName": "origin", "required": false, "defaultMatch": false, "display": true, "canBeUsedToMatch": true, "type": "string", "removed": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [3024, 1008],
      "id": "754cd652-1f90-404b-95e9-2c20adf52b70",
      "name": "Search Catalog"
    },
    {
      "parameters": { "options": {} },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [3392, 1152],
      "id": "21c475b1-18b7-4d3a-9c01-2a89f83e662c",
      "name": "Embeddings OpenAI",
      "credentials": { "openAiApi": { "id": "g0Kl7ZL1RswRmHnP", "name": "OpenAI account" } }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "Answer customer questions from the shop's FAQ knowledge base (greetings, policies, what's offered, hours, how things work, common questions). Pass the customer's question or its keywords; returns the closest previously-answered Q&A. Prefer a matching answer when one comes back; if nothing relevant returns, use your own judgement and don't invent specifics.",
        "tableName": { "__rl": true, "value": "agent_documents", "mode": "list", "cachedResultName": "agent_documents" },
        "options": { "queryName": "match_agent_documents" }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [3392, 960],
      "id": "e89f33e2-55b9-461c-8012-9adc526d79e3",
      "name": "Knowledge Base",
      "credentials": { "supabaseApi": { "id": "laDeVmHXe7YYZkKQ", "name": "Supabase account" } }
    }
  ],
  "connections": {
    "AI Inbound": { "main": [ [ { "node": "Message", "type": "main", "index": 0 } ] ] },
    "Message": { "main": [ [ { "node": "Intent Identifier", "type": "main", "index": 0 } ] ] },
    "DeepSeek Chat Model": { "ai_languageModel": [ [ { "node": "Intent Identifier", "type": "ai_languageModel", "index": 0 } ] ] },
    "Intent Identifier": { "main": [ [ { "node": "Parsed Output", "type": "main", "index": 0 } ] ] },
    "Redis Chat Memory": { "ai_memory": [ [ { "node": "Intent Identifier", "type": "ai_memory", "index": 0 } ] ] },
    "Parsed Output": { "main": [ [ { "node": "Intent check", "type": "main", "index": 0 } ] ] },
    "Intent check": { "main": [ [ { "node": "Intent Routes", "type": "main", "index": 0 } ], [ { "node": "General Inquiry Agent", "type": "main", "index": 0 } ] ] },
    "Intent Routes": { "main": [ [ { "node": "Sales Agent", "type": "main", "index": 0 } ], [ { "node": "Support Agent", "type": "main", "index": 0 } ], [ { "node": "General Inquiry Agent", "type": "main", "index": 0 } ] ] },
    "Sales Agent": { "main": [ [ { "node": "Normalize Reply", "type": "main", "index": 0 } ], [ { "node": "On Agent Error", "type": "main", "index": 0 } ] ] },
    "DeepSeek Chat Model2": { "ai_languageModel": [ [ { "node": "Sales Agent", "type": "ai_languageModel", "index": 0 } ] ] },
    "Sales Agent Memory": { "ai_memory": [ [ { "node": "Sales Agent", "type": "ai_memory", "index": 0 } ] ] },
    "Transfer to Human": { "ai_tool": [ [ { "node": "Sales Agent", "type": "ai_tool", "index": 0 }, { "node": "Support Agent", "type": "ai_tool", "index": 0 }, { "node": "General Inquiry Agent", "type": "ai_tool", "index": 0 } ] ] },
    "Send Media": { "ai_tool": [ [ { "node": "Sales Agent", "type": "ai_tool", "index": 0 }, { "node": "Support Agent", "type": "ai_tool", "index": 0 }, { "node": "General Inquiry Agent", "type": "ai_tool", "index": 0 } ] ] },
    "Support Agent": { "main": [ [ { "node": "Normalize Reply", "type": "main", "index": 0 } ], [ { "node": "On Agent Error", "type": "main", "index": 0 } ] ] },
    "DeepSeek Chat Model3": { "ai_languageModel": [ [ { "node": "Support Agent", "type": "ai_languageModel", "index": 0 } ] ] },
    "Support Agent Memory": { "ai_memory": [ [ { "node": "Support Agent", "type": "ai_memory", "index": 0 } ] ] },
    "General Inquiry Agent": { "main": [ [ { "node": "Normalize Reply", "type": "main", "index": 0 } ], [ { "node": "On Agent Error", "type": "main", "index": 0 } ] ] },
    "DeepSeek Chat Model1": { "ai_languageModel": [ [ { "node": "General Inquiry Agent", "type": "ai_languageModel", "index": 0 } ] ] },
    "General Inquiry Agent Memory": { "ai_memory": [ [ { "node": "General Inquiry Agent", "type": "ai_memory", "index": 0 } ] ] },
    "Normalize Reply": { "main": [ [ { "node": "Post Reply", "type": "main", "index": 0 } ] ] },
    "Search Catalog": { "ai_tool": [ [ { "node": "Sales Agent", "type": "ai_tool", "index": 0 }, { "node": "Support Agent", "type": "ai_tool", "index": 0 }, { "node": "General Inquiry Agent", "type": "ai_tool", "index": 0 } ] ] },
    "Embeddings OpenAI": { "ai_embedding": [ [ { "node": "Knowledge Base", "type": "ai_embedding", "index": 0 } ] ] },
    "Knowledge Base": { "ai_tool": [ [ { "node": "Sales Agent", "type": "ai_tool", "index": 0 }, { "node": "Support Agent", "type": "ai_tool", "index": 0 }, { "node": "General Inquiry Agent", "type": "ai_tool", "index": 0 } ] ] }
  },
  "pinData": {},
  "meta": { "templateCredsSetupCompleted": true, "instanceId": "65920e30f382a1064e38243457955455c5337d9c4dd5c8a89a6e793460e8da22" }
}
