scripts/n8n/post-to-n8n.workflow.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://pwise-api.sixpent.com/api/scheduler/insights/snapshot",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "14dab697-c4b8-4207-b43e-40672e359bdb",
      "name": "Snapshot insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1024,
        208
      ],
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "BJMGhtNiuA8INSYm",
          "name": "PWise: Service Token"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "id": "1b5a3b36-1e6c-4e8d-9143-9149bfdb7f64",
      "name": "Every hour1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1312,
        208
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "1f751576-6b04-4c3a-9eb2-1fce92d74f7f",
      "name": "Check Posts Every 5 minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1312,
        688
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "98ef0e36-fef8-4a01-84a5-baffe81caf74",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1312,
        480
      ],
      "id": "8bdd1119-40f9-4089-8872-2363470d055f",
      "name": "Post to n8n",
      "webhookId": "98ef0e36-fef8-4a01-84a5-baffe81caf74"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "08bade43-e61a-4eba-9545-c9bdb10c0dfc",
              "leftValue": "={{ $json.for_automation }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -656,
        336
      ],
      "id": "a3c5550d-7354-4518-97c4-d93ac21da147",
      "name": "Is For Automated Editing?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "37871d53-a5c4-4ab6-a9ae-a4fe4214fbf0",
              "leftValue": "={{ typeof $json.for_automation }}",
              "rightValue": "boolean",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -976,
        480
      ],
      "id": "5599857d-f492-405a-8184-fc36018f7d09",
      "name": "Is Valid?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.creatomate.com/v2/renders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { template_id: $json.template_id, modifications: $json.modifications, metadata: $json.render_job_id, webhook_url: $json.render_complete_url } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        112
      ],
      "id": "7e09fe81-b731-44c8-b5d4-516d70f4f89d",
      "name": "Start Creatomate Render",
      "credentials": {
        "httpHeaderAuth": {
          "id": "FL0J5ul0IijrDCGt",
          "name": "CreatoMate API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "template_id",
              "value": "={{ $json.template_id }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "modifications",
              "value": "={{ $json.modifications }}",
              "type": "object"
            },
            {
              "id": "a3",
              "name": "render_job_id",
              "value": "={{ $json.render_job_id }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "render_complete_url",
              "value": "={{ $json.render_complete_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        112
      ],
      "id": "007ba48d-fe71-4dec-9ae8-bb602f3aa487",
      "name": "Map AI → Creatomate"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ── pwise: build the result email (success or failure) ────────────────────────\nconst input = $json;\n\n// IMPORTANT: /posts/:id/posted AND /posts/:id/failed both return { success:true,\n// data:{ post } }, so input.success is ALWAYS true and can't tell them apart.\n// The updated post row carries the real signal — status, ids and failed_reason.\nconst post = input.data?.post ?? {};\nconst result = post.status === 'posted';\n\n// Escape so a caption/error can't break the HTML layout.\nconst esc = (s) =>\n  String(s ?? '').replace(/[&<>\"]/g, (c) => ({ '&': '&amp;', '<': '&lt;', '>': '&gt;', '\"': '&quot;' }[c]));\n\nconst caption = esc(post.caption || '(no caption)').replace(/\\n/g, '<br>');\nconst postId = post.id ?? '—';\nconst platform = post.target_platform || 'facebook';\nconst platformLabel = platform.charAt(0).toUpperCase() + platform.slice(1);\nconst when = new Date().toLocaleString('en-US', {\n  timeZone: 'Asia/Manila',\n  month: 'short', day: 'numeric', year: 'numeric', hour: '2-digit', minute: '2-digit',\n});\nconst appUrl = 'https://pwise.sixpent.com/post-pool';\n\nif (result) {\n  // Linkable feed id the server resolved ({page}_{post}); fall back to the raw id.\n  const fbPostId = post.parent_post_id || post.platform_post_id || '';\n  const postUrl = fbPostId ? `https://facebook.com/${fbPostId}` : 'https://facebook.com/';\n\n  return { json: {\n        subject: 'Your post is live on Facebook — Wise Cleaner Shop',\n        message: `<!DOCTYPE html><html><body style=\"margin:0;padding:0;background:#e6f3fc;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#e6f3fc;padding:24px 12px;font-family:'Segoe UI',Roboto,Helvetica,Arial,sans-serif;\"><tr><td align=\"center\"><table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%;background:#ffffff;border-radius:16px;overflow:hidden;border:1px solid #d4e6f5;\"><tr><td style=\"height:8px;background:#1f9be6;border-bottom:3px solid #ffc400;font-size:0;line-height:0;\">&nbsp;</td></tr><tr><td style=\"padding:22px 28px 8px;\"><span style=\"display:inline-block;background:#e7f8ee;color:#1f8f43;font-size:13px;font-weight:700;padding:6px 12px;border-radius:999px;\">&#9679; Posted</span><h1 style=\"margin:14px 0 6px;font-size:22px;color:#123a57;\">Your post is live on Facebook &#127881;</h1></td></tr><tr><td style=\"padding:8px 28px 4px;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f1f8fe;border:1px solid #d4e6f5;border-radius:12px;\"><tr><td style=\"padding:16px 18px;\"><p style=\"margin:0 0 4px;font-size:11px;font-weight:700;color:#5c7f99;text-transform:uppercase;letter-spacing:.05em;\">Caption</p><p style=\"margin:0 0 16px;font-size:15px;color:#123a57;line-height:1.5;\">${caption}</p><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"font-size:14px;color:#123a57;\"><tr><td style=\"padding:4px 0;color:#5c7f99;\">Platform</td><td align=\"right\" style=\"padding:4px 0;font-weight:700;\">${platformLabel}</td></tr><tr><td style=\"padding:4px 0;color:#5c7f99;\">Posted</td><td align=\"right\" style=\"padding:4px 0;font-weight:700;\">${when}</td></tr><tr><td style=\"padding:4px 0;color:#5c7f99;\">Post ID</td><td align=\"right\" style=\"padding:4px 0;font-weight:700;\">#${postId}</td></tr></table></td></tr></table></td></tr><tr><td style=\"padding:22px 28px 28px;\" align=\"center\"><a href=\"${postUrl}\" style=\"display:inline-block;background:#1f9be6;color:#ffffff;font-size:15px;font-weight:700;text-decoration:none;padding:12px 28px;border-radius:999px;\">View on Facebook &#8594;</a></td></tr></table></td></tr></table></body></html>`,\n       } };\n}\n\n// failure — the /failed response row has failed_reason set by the server.\nconst errorMessage = esc(post.failed_reason || 'Unknown error from Facebook');\n\nreturn { json: {\n      subject: 'A post failed to publish — Wise Cleaner Shop',\n      message: `<!DOCTYPE html><html><body style=\"margin:0;padding:0;background:#e6f3fc;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#e6f3fc;padding:24px 12px;font-family:'Segoe UI',Roboto,Helvetica,Arial,sans-serif;\"><tr><td align=\"center\"><table role=\"presentation\" width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:600px;width:100%;background:#ffffff;border-radius:16px;overflow:hidden;border:1px solid #d4e6f5;\"><tr><td style=\"height:8px;background:#1f9be6;border-bottom:3px solid #ffc400;font-size:0;line-height:0;\">&nbsp;</td></tr><tr><td style=\"padding:22px 28px 8px;\"><span style=\"display:inline-block;background:#fdeceb;color:#c52f24;font-size:13px;font-weight:700;padding:6px 12px;border-radius:999px;\">&#9679; Failed</span><h1 style=\"margin:14px 0 6px;font-size:22px;color:#123a57;\">We couldn't publish your post</h1></td></tr><tr><td style=\"padding:8px 28px 4px;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f1f8fe;border:1px solid #d4e6f5;border-radius:12px;\"><tr><td style=\"padding:16px 18px;\"><p style=\"margin:0 0 4px;font-size:11px;font-weight:700;color:#5c7f99;text-transform:uppercase;letter-spacing:.05em;\">Caption</p><p style=\"margin:0 0 16px;font-size:15px;color:#123a57;line-height:1.5;\">${caption}</p></td></tr></table></td></tr><tr><td style=\"padding:14px 28px 4px;\"><table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#fdeceb;border:1px solid #f6c9c5;border-radius:12px;\"><tr><td style=\"padding:14px 18px;\"><p style=\"margin:0 0 4px;font-size:11px;font-weight:700;color:#c52f24;text-transform:uppercase;letter-spacing:.05em;\">Error</p><p style=\"margin:0;font-size:14px;color:#8f231c;line-height:1.5;font-family:Consolas,Menlo,monospace;\">${errorMessage}</p></td></tr></table></td></tr><tr><td style=\"padding:22px 28px 28px;\" align=\"center\"><a href=\"${appUrl}\" style=\"display:inline-block;background:#e63b2e;color:#ffffff;font-size:15px;font-weight:700;text-decoration:none;padding:12px 28px;border-radius:999px;\">Open Post Pool &#8594;</a></td></tr></table></td></tr></table></body></html>`,\n     } };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        816
      ],
      "id": "48d67936-3094-4e75-9c12-64b232edd5a9",
      "name": "Assign Email Output"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Keystore').item.json.ADMIN_EMAIL }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.message }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1552,
        816
      ],
      "id": "c4d2371e-26a2-41a9-8f3e-c740f7b04be8",
      "name": "Send a message",
      "webhookId": "d1cb81d2-afea-44e3-bcb3-0155c83d170e",
      "credentials": {
        "gmailOAuth2": {
          "id": "eJv6b9AmjATYCiWG",
          "name": "Sixpent 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b69ea02-f948-413f-a32f-c860622eab21",
              "name": "ADMIN_EMAIL",
              "value": "archie.sevillano29@gmail.com",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        608
      ],
      "id": "90e9564d-bf0e-4325-a6d3-0c3c9b9f063f",
      "name": "Keystore"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://pwise-api.sixpent.com/api/scheduler/posts/{{ $('Post to n8n').isExecuted ? $('Parse body').item.json.data.post.id : $('Split posts').item.json.data.post.id }}/failed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"error_message\": \"Facebook post failed via n8n\" }",
        "options": {}
      },
      "id": "eb28da19-d6f8-4844-9135-181e1c31abb5",
      "name": "Mark failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        1072
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "BJMGhtNiuA8INSYm",
          "name": "PWise: Service Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://pwise-api.sixpent.com/api/scheduler/posts/{{ $('Post to n8n').isExecuted ? $('Parse body').item.json.data.post.id : $('Split posts').item.json.data.post.id }}/posted",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"platform_post_id\": \"{{ $json.id }}\", \"response_message\": \"posted via n8n\", \"target_platform\": \"{{ $('Post to n8n').isExecuted ? $('Parse body').item.json.data.post.target_platform : $('Split posts').item.json.data.post.target_platform }}\" }",
        "options": {}
      },
      "id": "539a559d-47f9-4de5-bcd9-18b5ee46eab6",
      "name": "Mark posted",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        592
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "BJMGhtNiuA8INSYm",
          "name": "PWise: Service Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Post to n8n').isExecuted ? $('Parse body').item.json.data.post.page.fb_page_id : $('Split posts').item.json.data.post.page.fb_page_id }}/feed",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $('Post to n8n').isExecuted ? $('Parse body').item.json.data.post.caption : $('Split posts').item.json.data.post.caption }}"
            },
            {
              "name": "access_token",
              "value": "={{ $('Post to n8n').isExecuted ? $('Parse body').item.json.data.post.page.access_token : $('Split posts').item.json.data.post.page.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9496d121-af9d-4318-a479-603c0bce5388",
      "name": "Post text to Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        1072
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Post to n8n').isExecuted ? $('Parse body').item.json.data.post.page.fb_page_id : $('Split posts').item.json.data.post.page.fb_page_id }}/photos",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $('Post to n8n').isExecuted ? $('Parse body').item.json.data.post.media_download_url : $('Split posts').item.json.data.post.media_download_url }}"
            },
            {
              "name": "caption",
              "value": "={{ $('Post to n8n').isExecuted ? $('Parse body').item.json.data.post.caption : $('Split posts').item.json.data.post.caption }}"
            },
            {
              "name": "access_token",
              "value": "={{ $('Post to n8n').isExecuted ? $('Parse body').item.json.data.post.page.access_token : $('Split posts').item.json.data.post.page.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6553f83c-7f60-4ef4-ab53-c5d9cd68ef97",
      "name": "Post photo to Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        720
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{ $('Post to n8n').isExecuted ? $('Parse body').item.json.data.post.page.fb_page_id : $('Split posts').item.json.data.post.page.fb_page_id }}/videos",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_url",
              "value": "={{ $('Post to n8n').isExecuted ? $('Parse body').item.json.data.post.media_download_url : $('Split posts').item.json.data.post.media_download_url }}"
            },
            {
              "name": "description",
              "value": "={{ $('Post to n8n').isExecuted ? $('Parse body').item.json.data.post.caption : $('Split posts').item.json.data.post.caption }}"
            },
            {
              "name": "access_token",
              "value": "={{ $('Post to n8n').isExecuted ? $('Parse body').item.json.data.post.page.access_token : $('Split posts').item.json.data.post.page.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e1d22465-dd85-41a3-a7a4-9efa28f3470e",
      "name": "Post video to Facebook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        432
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-video",
              "leftValue": "={{ $('Post to n8n').isExecuted ? $('Parse body').item.json.data.post.media_type :  $('Split posts').item.json.data.post.media_type }}",
              "rightValue": "video",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "46bdaf1c-16f2-43e4-996d-f88e09b48ff8",
      "name": "Is video?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        592
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-media",
              "leftValue": "={{ $('Post to n8n').isExecuted ? $('Parse body').item.json.data.post.media_download_url : $('Split posts').item.json.data.post.media_download_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3a3e76dc-978f-4928-ab93-25e2634e1c23",
      "name": "Has media?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -192,
        816
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-claimed",
              "leftValue": "={{ $json.data.claimed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4bb9cc1c-4eee-4550-b749-e0aa06530510",
      "name": "Claimed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -976,
        688
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pwise-api.sixpent.com/api/scheduler/claim-batch",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"source\": \"n8n\", \"limit\": 10 }",
        "options": {}
      },
      "id": "4fcd312a-edf4-43d3-9fca-f0e0ad656a41",
      "name": "Claim next post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1136,
        688
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "BJMGhtNiuA8INSYm",
          "name": "PWise: Service Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map((i) => ({ json: i.json.body ?? i.json }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        480
      ],
      "id": "011ddab3-6f3f-4674-9552-a17a64560420",
      "name": "Parse body"
    },
    {
      "parameters": {
        "jsCode": "const posts = $input.first().json.data.posts || [];\nreturn posts.map((p) => ({ json: { data: { post: p } }, pairedItem: { item: 0 } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        608
      ],
      "id": "f814b35b-41cd-40cf-a083-baf664ef0ab2",
      "name": "Split posts"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "creatomate-render-complete",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1312,
        1280
      ],
      "id": "c0000000-0000-4000-8000-000000000001",
      "name": "Render Complete",
      "webhookId": "creatomate-render-complete"
    },
    {
      "parameters": {
        "jsCode": "// Creatomate POSTs the finished render object here on completion. Unwrap the webhook body.\nreturn [{ json: $json.body ?? $json }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        1280
      ],
      "id": "c0000000-0000-4000-8000-000000000002",
      "name": "Parse render"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c-cond-1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "succeeded",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -864,
        1280
      ],
      "id": "c0000000-0000-4000-8000-000000000003",
      "name": "Render succeeded?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pwise-api.sixpent.com/api/creatomate-templates/renders/callback",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { render_job_id: $json.metadata, status: \"succeeded\", video_url: $json.url, snapshot_url: $json.snapshot_url } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -640,
        1184
      ],
      "id": "c0000000-0000-4000-8000-000000000004",
      "name": "Notify app: render done",
      "credentials": {
        "httpHeaderAuth": {
          "id": "BJMGhtNiuA8INSYm",
          "name": "PWise: Service Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pwise-api.sixpent.com/api/creatomate-templates/renders/callback",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { render_job_id: $json.metadata, status: \"failed\", error_message: ($json.error_message || \"render failed\") } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -640,
        1376
      ],
      "id": "c0000000-0000-4000-8000-000000000005",
      "name": "Notify app: render failed",
      "credentials": {
        "httpHeaderAuth": {
          "id": "BJMGhtNiuA8INSYm",
          "name": "PWise: Service Token"
        }
      }
    }
  ],
  "connections": {
    "Every hour1": {
      "main": [
        [
          {
            "node": "Snapshot insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Posts Every 5 minutes": {
      "main": [
        [
          {
            "node": "Claim next post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to n8n": {
      "main": [
        [
          {
            "node": "Parse body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is For Automated Editing?": {
      "main": [
        [
          {
            "node": "Map AI → Creatomate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Keystore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Valid?": {
      "main": [
        [
          {
            "node": "Is For Automated Editing?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map AI → Creatomate": {
      "main": [
        [
          {
            "node": "Start Creatomate Render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assign Email Output": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keystore": {
      "main": [
        [
          {
            "node": "Has media?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark failed": {
      "main": [
        [
          {
            "node": "Assign Email Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark posted": {
      "main": [
        [
          {
            "node": "Assign Email Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post text to Facebook": {
      "main": [
        [
          {
            "node": "Mark posted",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post photo to Facebook": {
      "main": [
        [
          {
            "node": "Mark posted",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post video to Facebook": {
      "main": [
        [
          {
            "node": "Mark posted",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is video?": {
      "main": [
        [
          {
            "node": "Post video to Facebook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post photo to Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has media?": {
      "main": [
        [
          {
            "node": "Is video?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post text to Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claimed?": {
      "main": [
        [
          {
            "node": "Split posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claim next post": {
      "main": [
        [
          {
            "node": "Claimed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse body": {
      "main": [
        [
          {
            "node": "Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split posts": {
      "main": [
        [
          {
            "node": "Keystore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Complete": {
      "main": [
        [
          {
            "node": "Parse render",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse render": {
      "main": [
        [
          {
            "node": "Render succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render succeeded?": {
      "main": [
        [
          {
            "node": "Notify app: render done",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify app: render failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "65920e30f382a1064e38243457955455c5337d9c4dd5c8a89a6e793460e8da22"
  },
  "name": "PWise — Posting & Creatomate Render"
}
